@font-face {
  font-family: FalseNine;
  src: url("./FalseNine.otf") format("opentype");
}

* {
  font-family: 'Muli';
}

.falseNineFont {
  font-family: 'FalseNine';
}

body {
  background: #141414;
  color: #e5e5e5;
}

h1 {

}

h2 {

}

h3 {
  /* font-size: 20px; */
}